﻿@model TaskManager_taskback.ViewModels.TaskDataViewModel

@{
    ViewData["Title"] = "Create Task";
}

<h2>Create Task</h2>

<h4>TaskDataViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DropDownList("TaskType",
                      new SelectList(Enum.GetValues(typeof(TaskManager_taskback.Utilities.TaskType))), "Select type", new { @class = "form-control" })
                <span asp-validation-for="TaskType" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DropDownList("TaskStatus",
                new SelectList(Enum.GetValues(typeof(TaskManager_taskback.Utilities.TaskProgressStatus))), "Select status", new { @class = "form-control" })
                <span asp-validation-for="TaskStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
