﻿@model TaskManager_taskback.ViewModels.TaskDataViewModel

@{
    ViewData["Title"] = "TaskDetails";
}

<h2>TaskDetails</h2>

<div>
    <h4>TaskDataViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TaskType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TaskType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TaskStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TaskStatus)
        </dd>
    </dl>


    <div class="comments">
        <h3>Comments</h3>
        @{

            

                if (User.Identity.IsAuthenticated)
                {
                    <form asp-action="Create" asp-controller="Comments">
                        <textarea asp-for="Description" class="form-control"></textarea>
                        <input name="taskId" type="hidden" value="@Model.Id" />
                        <input type="submit" value="Comment" class="btn Btn-Primary" />
                    </form>
                }
                else
                {
                    <h3>Please sign in to comment</h3>
                }
            if (Model.Comments != null && Model.Comments.Any())
            {
                
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Description)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Comments)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        <a asp-controller="Comments" asp-route-id="@item.Id" asp-action="Edit" asp-route-taskId="@Model.Id">Edit</a>
                                        <a asp-controller="Comments" asp-route-id="@item.Id" asp-action="Delete" asp-route-taskId="@Model.Id">Delete</a>
                                    </td>   
                                </tr>
                            }
                        </tbody>
                    </table>

                
            }

        }



    </div>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
