﻿@model TaskManager_taskback.ViewModels.TaskDataViewModel
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>TaskDataViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="TaskType" class="form-control">
                    @{
                        foreach (var item in Enum.GetValues(typeof(TaskManager_taskback.Utilities.TaskType)))
                        {
                            if (item.Equals(Model.TaskType))
                            {
                                <option value="@item" selected>@item</option>
                            }
                            else
                            {
                                <option value="@item">@item</option>
                            }
                        }
                    }
                </select>
                <span asp-validation-for="TaskType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="TaskStatus" class=" form-control">
                    @{
                        foreach (var item in Enum.GetValues(typeof(TaskManager_taskback.Utilities.TaskProgressStatus)))
                        {
                            if (item.Equals(Model.TaskStatus))
                            {
                                <option value="@item" selected>@item</option>
                            }
                            else
                            {
                                <option value="@item">@item</option>
                            }
                        }
                    }
                </select>
                <span asp-validation-for="TaskStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
