﻿@model TaskManager_taskback.Models.CommentsDataModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CommentsDataModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    
    <form asp-action="Delete" method="post">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <input type="hidden" name="taskId" value="@Context.Request.Query["taskId"]" />
        <input type="hidden" name="id" value="@Model.Id" class="form-control" />
        <a asp-action="Details" asp-controller="TaskData" asp-route-id="@Context.Request.Query["taskId"]">Back to List</a>
    </form>
</div>
